#content {
    margin-right: 305px;
}

.header {
    height: 20px;
    padding: 10px;
    background-color: #f6f6f6;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.inner {
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    line-height: 2em;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.breadcrumb>li {
    display: inline-block;
}

.breadcrumb a {
    color: #80bd01;
    text-decoration: none;
}

.breadcrumb>li>.divider {
    padding: 0 5px;
    color: #ccc;
}

.breadcrumb>.active {
    color: #999;
}

.inner.topic {
    padding: 10px;
    border-top: 1px solid #e5e5e5;
}

.topic h3 {
    font-size: 24.5px;
    margin: 30px 0 15px;
    border-bottom: 1px solid #eee;
}

.topic p {
    font-size: 15px;
    line-height: 1.7em;
    overflow: auto;
    margin: 1em 0;
}

.topic_content {
    margin: 0 10px;
}

.markdown-text a {
    color: #08c;
}

.markdown-text>:first-child {
    margin-top: 0;
}

.about-friend-links img {
    width: 250px;
    height: 60px;
}

.logo a {
    color: #778087;
}