#content {
    margin-right: 305px;
}

.header {
    height: 20px;
    padding: 10px;
    background-color: #f6f6f6;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.inner {
    border-radius: 0 0 3px 3px;
    background-color: #fff;
}

.breadcrumb>li {
    display: inline-block;
}

.breadcrumb a {
    color: #80bd01;
    text-decoration: none;
}

.breadcrumb>li>.divider {
    padding: 0 5px;
    color: #ccc;
}

.breadcrumb>.active {
    color: #999;
}

.inner.topic {
    padding: 10px;
    border-top: 1px solid #e5e5e5;
}

.topic_content {
    margin: 0 10px;
}

.topic h3,
.topic h4 {
    font-size: 24.5px;
    margin: 30px 0 15px;
    border-bottom: 1px solid #eee;
}

.topic h4 {
    font-size: 17px;
}

.topic p {
    font-size: 15px;
    line-height: 1.7em;
    overflow: auto;
    margin: 1em 0;
}

.markdown-text>:first-child {
    margin-top: 0;
}

.markdown-text a {
    color: #08c;
}

.markdown-text ul,
ol {
    margin: 0 0 10px 25px;
}

.markdown-text li {
    line-height: 2em;
}

.markdown-text code {
    color: #000;
    background-color: #fcfafa;
    padding: 4px 6px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
    border-radius: 3px;
}

.prettyprint {
    font-size: 14px;
    border-radius: 0;
    padding: 0 15px;
    margin: 20px -10px;
    background-color: #f7f7f7;
}

pre {
    line-height: 22px;
}

.markdown-text pre code {
    padding: 0;
    background-color: transparent;
}