<div id="container">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#"><img src="../assets/images/cnodejs_light.svg" /></a>
                <form id="search-form" class="navbar-search" action="/search">
                    <input type="text" name="q" id="q" class="search-query" value="" />
                </form>
                <ul class="nav">
                    <li><a routerLink="/articles" routerLinkActive='active'>首页</a></li>
                    <li><a routerLink="/message" routerLinkActive='active' *ngIf='currentUser?.username'>未读消息</a></li>
                    <li><a routerLink="/getstart" routerLinkActive='active'>新手入门</a></li>
                    <li><a routerLink="/api" routerLinkActive='active'>API</a></li>
                    <li><a routerLink="/about" routerLinkActive='active'>关于</a></li>
                    <li><a routerLink="/setting" routerLinkActive='active' *ngIf='currentUser?.username'>设置</a></li>
                    <li><a routerLink="/articles" routerLinkActive='active' (click)='logout()' *ngIf='currentUser?.username'>退出</a></li>
                    <li><a routerLink="/signup" routerLinkActive='active' *ngIf='!currentUser?.username'>注册</a></li>
                    <li><a routerLink="/signin" routerLinkActive='active' *ngIf='!currentUser?.username'>登录</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="main">
        <router-outlet></router-outlet>
    </div>
    <div id="footer" class="fix_bottom">
        <div class="footer_main">
            <div class="links">
                <a href="/rss" class="dark">RSS</a> |
                <a href="https://github.com/cnodejs/nodeclub/" class="dark">源码地址</a>
            </div>
            <div class="col_fade">
                <p>CNode 社区为国内最专业的 Node.js 开源技术社区，致力于 Node.js 的技术研究。</p>
                <p>
                    服务器赞助商为
                    <a href="http://www.ucloud.cn/?utm_source=zanzhu&utm_campaign=cnodejs&utm_medium=display&utm_content=yejiao&ytag=cnodejs_logo" target="_blank" class="sponsor_outlink" data-label="ucloud_bottom">
                        <img src="../assets/images/ucloud.png" title="ucloud" alt="ucloud" width="92px">
                    </a>
                    ，存储赞助商为
                    <a href="http://www.qiniu.com/?ref=cnode" target="_blank" class="sponsor_outlink" data-label="qiniu_bottom">
                        <img src="../assets/images/qiniu.png" title="七牛云储存" alt="七牛云储存" width="115px">
                    </a>
                    ，由
                    <a href="https://alinode.aliyun.com/?ref=cnode" target="_blank" class="sponsor_outlink" data-label="alinode_bottom">
                        <img src="../assets/images/alinode_s.png" title="alinode" alt="alinode" height="54px" width="166px">
                    </a>
                    提供应用性能服务
                </p>
                <p>
                    新手搭建 Node.js 服务器，推荐使用无需备案的
                    <a href="https://www.digitalocean.com/?refcode=eba02656eeb3">DigitalOcean(https://www.digitalocean.com/)</a>
                </p>
            </div>
        </div>
    </div>
</div>