<div class="panel">
    <div class="header">
        <span class="col_fade">无人回复的话题</span>
    </div>
    <div class="inner">
        <ul class="unstyled">
            <li>
                <div>
                    <a href="#" class="dark topic_title" title="#">知道js怎么判断相等？？会这些题么</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#" class="dark topic_title" title="#">知道js怎么判断相等？？会这些题么</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#" class="dark topic_title" title="#">知道js怎么判断相等？？会这些题么</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#" class="dark topic_title" title="#">知道js怎么判断相等？？会这些题么</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#" class="dark topic_title" title="#">知道js怎么判断相等？？会这些题么</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="panel">
    <div class="header">
        <span class="col_fade">积分榜</span>&nbsp;
        <a href="/users/top100" class="dark">TOP 100 >></a>
    </div>
    <div class="inner">
        <ol>
            <span class="top_score">17765</span>
            <span class="user_name">
                            <a href="/user/">i5ting</a>
                        </span>
            <li>
                <span class="top_score">14265</span>
                <span class="user_name">
                                <a href="/user/">alsotang</a>
                            </span>
            </li>
            <li>
                <span class="top_score">9320</span>
                <span class="user_name">
                                <a href="/user/">leapon</a>
                            </span>
            </li>
            <li>
                <span class="top_score">8680</span>
                <span class="user_name">
                                <a href="/user/">jiyinyiyong</a>
                            </span>
            </li>
            <li>
                <span class="top_score">6335</span>
                <span class="user_name">
                                <a href="/user/">yakczh</a>
                            </span>
            </li>
            <li>
                <span class="top_score">5045</span>
                <span class="user_name">
                                <a href="/user/">magicdawn</a>
                            </span>
            </li>
            <li>
                <span class="top_score">4815</span>
                <span class="user_name">
                                <a href="/user/">DevinXian</a>
                            </span>
            </li>
            <li>
                <span class="top_score">4460</span>
                <span class="user_name">
                                <a href="/user/">captainblue2013</a>
                            </span>
            </li>
            <li>
                <span class="top_score">4330</span>
                <span class="user_name">
                                <a href="/user/">fengmk2</a>
                            </span>
            </li>
            <li>
                <span class="top_score">4100</span>
                <span class="user_name">
                                <a href="/user/">chapgaga</a>
                            </span>
            </li>
        </ol>
    </div>
</div>