.header {
    padding: 10px;
    background-color: #f6f6f6;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.panel {
    font-size: 13px;
    margin-bottom: 13px;
}

.inner {
    padding: 10px;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    line-height: 2em;
}

#user_avatar img {
    width: 48px;
    height: 48px;
    margin-right: .5em;
    border-radius: 3px;
}

.user_name {
    font-size: 16px;
}

.board {
    margin-top: 10px;
    width: 80%;
}

.big {
    font-size: 14px;
}

.signature {
    font-style: italic;
}

.span-success {
    display: inline-block;
    padding: 3px 10px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 2em;
    vertical-align: middle;
    color: #fff;
    border-radius: 3px;
    background-color: #80bd01;
}