.content {
    margin-right: 305px;
}

.panel {
    margin-bottom: 13px;
}

.header {
    padding: 10px;
    background-color: #f6f6f6;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.inner {
    padding: 10px;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    line-height: 2em;
}

.panel .inner p {
    font-size: 14px;
    margin: 0 0 10px;
}

.breadcrumb>li {
    display: inline-block;
}

.breadcrumb a {
    color: #80bd01;
    text-decoration: none;
}

.breadcrumb>li>.divider {
    padding: 0 5px;
    color: #ccc;
}

.breadcrumb>.active {
    color: #999;
}